<form #customersForm="ngForm" (ngSubmit)="addCustomers($event)">
  <nb-card>

    <nb-card-header>
       <div class="d-flex justify-content-between">
          <!--close form-->
          <div>
              <shared-close-form-action (closeEditForm)="closeEditForm($event)"
                                          tooltip="{{'crudForm.tooltips.close' | translate}}">
              </shared-close-form-action>
          </div>
          <!--form actions-->
          <div class="d-flex flex-row" >
            <shared-default-form-actions [isEditMode]="isEditMode" [form]="customersForm"
                                         tooltipEnableEditForm="{{'crudForm.tooltips.edit' | translate}}"
                                         tooltipRemove="{{'crudForm.tooltips.delete' | translate}}"
                                         tooltipSave="{{'crudForm.tooltips.save' | translate}}"
                                         tooltipUpdate="{{'crudForm.tooltips.update' | translate}}"
                                         (enableEditForm)="enableEditForm($event)"
                                         (remove)="removeCustomers()"
                                         (update)="updateCustomers()">
            </shared-default-form-actions>
            <!--add here new button-->
           </div>
       </div>
    </nb-card-header>
    <nb-card-body>
      <nb-accordion>
        <nb-accordion-item [expanded] = "true" [collapsed]="false">
          <nb-accordion-item-header>{{'crudForm.accordionItems.details' | translate}}</nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="container">
                <fieldset>
                   <div class="row">
                     <div class="col-sm-6">
                      <div class="form-group">

                       <!-- <label for="name" class="label">
                         <span translate>customers.form.name</span>
                           <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
                                  [nbTooltip]="'customers.questions.code' | translate"
                                  nbTooltipPlacement="top" nbTooltipStatus="info">
                           </nb-icon>
                         </label>
                         <input type="text" nbInput fullWidth id="city" shape="round" [(ngModel)]="customersRow.city" [disabled]="isEditMode"
                              required maxlength="10" name="city" #city="ngModel"
                              [status]="city.errors?.required ? 'danger':'basic'"> -->

                              <label for="name" class="label">
                                <span translate>Name</span>
                                  <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
                                         [nbTooltip]="'customers.questions.name' | translate"
                                         nbTooltipPlacement="top" nbTooltipStatus="info">
                                  </nb-icon>
                                </label>
                         <input type="text" nbInput fullWidth id="name" shape="round" [(ngModel)]="customersRow.name" [disabled]="isEditMode"

                              required maxlength="10" name="name" #name="ngModel"

                              [status]="name.errors?.required ? 'danger':'basic'">

                              <label for="address" class="label">
                                <span translate>Address</span>
                                  <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
                                         [nbTooltip]="'customers.questions.address' | translate"
                                         nbTooltipPlacement="top" nbTooltipStatus="info">
                                  </nb-icon>
                                </label>
                        <input type="text" nbInput fullWidth id="address" shape="round" [(ngModel)]="customersRow.address" [disabled]="isEditMode"

                              required maxlength="10" name="address" #address="ngModel"

                              [status]="address.errors?.required ? 'danger':'basic'">

                              <label for="name" class="label">
                                <span translate>Street Number</span>
                                  <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
                                         [nbTooltip]="'customers.questions.streetNumber' | translate"
                                         nbTooltipPlacement="top" nbTooltipStatus="info">
                                  </nb-icon>
                                </label>
                        <input type="text" nbInput fullWidth id="streetNumber" shape="round" [(ngModel)]="customersRow.streetNumber" [disabled]="isEditMode"

                              required maxlength="10" name="streetNumber" #streetNumber="ngModel"
                              [status]="streetNumber.errors?.required ? 'danger':'basic'">
                              <label for="streetNumber" class="label">

                                <span translate>City</span>
                                  <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
                                         [nbTooltip]="'customers.questions.city' | translate"
                                         nbTooltipPlacement="top" nbTooltipStatus="info">
                                  </nb-icon>
                                </label>
                        <input type="text" nbInput fullWidth id="city" shape="round" [(ngModel)]="customersRow.city" [disabled]="isEditMode"
                              required maxlength="10" name="city" #city="ngModel"
                              [status]="city.errors?.required ? 'danger':'basic'">

                              <label for="name" class="label">
                                <span translate>Country</span>
                                  <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
                                         [nbTooltip]="'customers.questions.country' | translate"
                                         nbTooltipPlacement="top" nbTooltipStatus="info">
                                  </nb-icon>
                                </label>
                        <input type="text" nbInput fullWidth id="country" shape="round" [(ngModel)]="customersRow.country" [disabled]="isEditMode"
                              required maxlength="10" name="country" #country="ngModel"
                              [status]="country.errors?.required ? 'danger':'basic'">

                      </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
  </nb-card>
</form>
