<form [formGroup]="customersFilterForm">
  <div class="row align-items-end">

    <div class="col-md-auto">
      <label for="name">
        <span translate>Search</span>
      </label>
      <input type="text" nbInput fullWidth status="basic"  id="name" shape="round" fieldSize="small"
                             formControlName="name">
    </div>

    <div class="col-md-auto mb-1">
      <button  size="small" shape="round" outline nbButton status="primary" (click)="search()">
        <nb-icon icon="search-outline"></nb-icon>
      </button>
    </div>

    <div class="col-md-auto mb-1">
      <button size="small" shape="round" outline nbButton status="warning" (click)="resetForm()"
                  [nbTooltip]="'filter.buttons.resetButton' | translate">
        <nb-icon icon="close-outline"> </nb-icon>
      </button>
    </div>
  </div>
</form>

