<form #customersForm="ngForm" (ngSubmit)="addCustomers(customersRow)">
<nb-card [size]="'medium'" >
    <nb-card-body class="example-items-col">
        <div class="container">
            <fieldset>
               <div class="row">
                 <div class="col-sm-6">
                  <div class="form-group">
        <label for="name" class="label">
            <span translate>Name</span>
              <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
                     [nbTooltip]="'customers.questions.name' | translate"
                     nbTooltipPlacement="top" nbTooltipStatus="info">
              </nb-icon>
            </label>
       <input type="text" nbInput fullWidth shape="semi-round" id="name" placeholder="Name" name="name" #name="ngModel" (ngModel)="customersRow.name" >


       <label for="address" class="label">
        <span translate>Address</span>
          <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
                 [nbTooltip]="'customers.questions.address' | translate"
                 nbTooltipPlacement="top" nbTooltipStatus="info">
          </nb-icon>
        </label>
   <input type="text" nbInput fullWidth shape="semi-round" placeholder="address" (ngModel)="customersRow.address" >


   <label for="streetNumber" class="label">
    <span translate>Street Number</span>
      <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
             [nbTooltip]="'customers.questions.streetNumber' | translate"
             nbTooltipPlacement="top" nbTooltipStatus="info">
      </nb-icon>
    </label>
<input type="text" nbInput fullWidth shape="semi-round" placeholder="Street Number" (ngModel)="customersRow.streetNumber" >


<label for="city" class="label">
    <span translate>City</span>
      <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
             [nbTooltip]="'customers.questions.city' | translate"
             nbTooltipPlacement="top" nbTooltipStatus="info">
      </nb-icon>
    </label>
<input type="text" nbInput fullWidth shape="semi-round" placeholder="City" (ngModel)="customersRow.city" >


<label for="country" class="label">
    <span translate>Country</span>
      <nb-icon class="rq-question-tooltip" icon="question-mark-circle-outline"
             [nbTooltip]="'customers.questions.country' | translate"
             nbTooltipPlacement="top" nbTooltipStatus="info">
      </nb-icon>
    </label>
<input type="text" nbInput fullWidth shape="semi-round" placeholder="Country" (ngModel)="customersRow.country">
  <div class="p-1">
    <button  status="success" nbButton (ngSubmit)="addCustomers($event)">Save</button>
    <i></i>
     <button  status="danger" nbButton (click)="close()">Close</button>
  </div>
</div>
</div>
</div>
</fieldset>
</div>
      </nb-card-body>
  </nb-card>
</form>